body{
    background: linear-gradient(90deg, rgba(141,194,111,1),rgba(118,184,82,1) 50%);
}
.inner-row{
    height: 100vh;
}
.primaryBg{
    background-color: rgba(141,194,111,1);
}
.primaryColor{
    color: rgba(141,194,111,1);
}
.form-box{
    background: #fff;
}
.register-link{
    text-decoration: none;
    color: black;
}
a.register-link:hover{
    color: rgba(141,194,111,1);
}
